<?xml version="1.0" encoding="UTF-8"?>

<persistence xmlns="http://java.sun.com/xml/ns/persistence"
version="1.0">
	<persistence-unit name="fbaPersistenceUnit" transaction-type="RESOURCE_LOCAL" >
		<class>it.fba.webapp.beans.UsersBean</class>
		<class>it.fba.webapp.beans.PianoDIformazioneBean</class>
		<class>it.fba.webapp.beans.CalendarioBean</class>
		<class>it.fba.webapp.beans.LavoratoriBean</class>
		<class>it.fba.webapp.beans.AttuatoreBean</class>
		<class>it.fba.webapp.beans.RendicontazioneBean</class>
		<class>it.fba.webapp.beans.RendicontazioneFileBean</class>
		<class>it.fba.webapp.beans.LavoratoriFileBean</class>
	</persistence-unit>
</persistence>